.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: repeat(1fr, auto);
      grid-template-areas:
        "logo links1 links2 cta"
        "social links1 links2 copy";
      gap: 1rem;
      justify-items: start;
      align-items: stretch;
    }
  }

  a {
    color: $white;
  }

  &__logo {
    display: inline-block;

    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__social {
    a {
      display: inline-block;
      height: 1.25rem;

      svg path {
        transition: 150ms ease-in-out;
      }

      &:hover svg path {
        fill: $funnyRed;
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }

    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: social;
      align-self: end;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    // line-height: 2.25;
    font-size: 0.9375; // 15px

    @include breakpoint-up(large) {
      justify-content: space-between;
      align-items: flex-start;
    }

    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }
    }

    &.col2 {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }

      @include breakpoint-up(large) {
        grid-area: links2;
      }
    }

    a {
      line-height: 2.25;
      transition: 150ms ease-in-out;

      &:hover {
        color: $funnyRed;
      }
    }
  }

  &__cta {
    a.button {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }
    }

    @include breakpoint-up(large) {
      grid-area: cta;
      justify-self: end;
      text-align: right;
    }
  }

  &__copyright {
    font-size: 0.8125rem; // 15px
    color: $grayishBlue;

    @include breakpoint-up(large) {
      margin-bottom: 0.0625rem;
      grid-area: copy;
      align-self: end;
      justify-self: end;
    }
  }
}
