.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    // Background of the Hero
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    // Background of the Hero for Desktop
    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        left: 2%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }

    // Phones over the Hero
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(/images/mobile-image-mockups.png);
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }

    @include breakpoint-up(medium) {
      min-height: 25rem;
    }
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      order: 1;
      flex: 2;
      text-align: left;
    }
  }
}
